*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom right, #403F44, #1E1B32);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.todo--list {
    display: grid;
    margin: 0 10px;
    background-color: #ffffff85;
    padding: 3rem;
    gap: 15px;
    width: min(570px, 90%);
    border-radius: 5px;
}

.tasks {
    &List {
        display: grid;
        gap: 1rem;
        &_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid ;
            padding: .3em;
            border-radius: 5px;
            p {
                width: 90%;
                overflow-wrap: anywhere;
            }
            button {
                font-size: 1rem;
                padding: .3em;
                border-radius: 5px;
                width: 30%;
            }
        }
    }

    &Input {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: .3em;
        input, button {
            font-size: 1.5rem;
            padding: .3em;
            border-radius: 5px;
            width: 100%;
        }

        button {
            cursor: pointer;
            width: min(150px, 100%);
        }
        input {
            border: transparent;
        }
    }
}

html {

    @media (width < 400px) {
        font-size: 12px;
    }

}